
.lmc{
  color:#ED7966;
  font-size: 24px;
  font-weight: 800;
 
  align-self: flex-end;
 margin-bottom: 5px;
}
.loginbtn{
  background-color: #ED7966;
  border: 0;
  width: 25.4rem;
  --bs-btn-hover-bg: #ED7966;
  --bs-btn-active-bg: #ED7966;
  ; 
  /* 406 px */
}
.login{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
/* identical to box height */
  color: #09174A;
  margin-bottom: 15px;
  
}
.login-labels{
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #09174A;
}
.left{
  background-color: #ED7966;
  height:100vh;

}

.btn-primary {
  background-color: #ED7966;
  --bs-btn-active-bg: #ED7966;
}
.headings{
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #646464;

}
.items{
  border-bottom: 1px;
}
.list{
  color: #09174A;
  font-weight: 500;
font-size: 16px;
line-height: 20px;
}
.ash{
  color: #7E7E7F;
}
.trash{
  color:#D04444;
}
.mainpage{
  background-color: #fffbfa;
}
.listcontent{
  background-color: white;
}
.hoverbutton:hover{
  background-color: #ec8d7e;
}
.cancel{
  color: #7E7E7F;
  border: 1px solid #7E7E7F;
  background-color: white;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-color: #7E7E7F ;
  --bs-btn-hover-border-color:#7E7E7F;
  --bs-btn-active-border-color: #7E7E7F;
}
/* .issuedbooks{
  width: 100%;
} */
#root > div > div > div.left.col-2 > div > a:nth-child(1) , a:nth-child(2),a:nth-child(3){
  text-decoration: none;
}
.studentviewpage{
  width: 100%;
}
.errormsg{
color: red;
font-weight: 400;
font-size: 12px;
line-height: 14px;
margin-top: 5px;
}